name: 04-using-actions
on:
    push:
jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: 04-using-actions/react-app
        #0. Checkout the code from the repository
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Printing Folders
              run: ls
            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                    node-version: '22.x'
            - name: Install dependencies
              run: npm ci
              
            - name: Run Unit tests
              run: npm run test
              
        #1.Install deps of our react application
        #2.Execute automated tests here