name:   06 - Contexts

run-name: 06 - Contexts | DEBUG - ${{ inputs.debug }} # This will show the workflow name in the run name

on:
    push:
    workflow_dispatch:
     inputs:
        debug:
         type: boolean
         default: false
       
jobs:
    echo-data:
        runs-on: ubuntu-latest
        steps:
            - name: Display Information
              run: |
                echo "Repository: ${{ github.repository }}"
                echo "Event Name: ${{ github.event_name }}"
                echo "Actor: ${{ github.actor }}"
                echo "Workflow: ${{ github.workflow }}"
                echo "Job: ${{ github.job }}"
                echo "Run ID: ${{ github.run_id }}"
                echo "Run Number: ${{ github.run_number }}"
                echo "SHA: ${{ github.sha }}"
                echo "Ref: ${{ github.ref }}"
            - name: Retrieve Variables
              run: |
                echo "Variable value: ${{ vars.MY_VAR }}"
                
                